{% extends 'servers/base_site.html' %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Confirm</title>
    </head>
    <body>
        <div class="container">
            <div class="col-md-4"></div>
            <div id="center" class="col-md-4">
                <form method="post">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-alert"></span>
                        Confirm</div>
                    <div class="panel-body">
                        {% csrf_token %}
                        <div style="margin: 0"class="alert alert-danger">
                            Are you sure you want to delete "{{ object }}" ?
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input class="btn btn-primary" onclick="history.go(-1)"type="button"value="Back"/>
                        <input style="float: right;"class="btn btn-success"type="submit" value="Submit" />
                    </div>
                </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>        
    </body>
</html>
{% endblock content %}
